[buildout]
parts =  
    instance
    zopepy
    i18ndude
    test
    omelette
    repozo
    backup

extends = 
    http://dist.plone.org/release/4.3.2/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.3.2
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer

sources = sources

auto-checkout = *

versions = versions

# Reference any folders where you have Python egg source code under development here 
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a 
# repository mr.developer will handle this automatically for you
develop =
    src/apuntador.core
    src/cerclefolk.theme

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8082
effective-user = plone
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    Pillow
    Plone
    plone.app.dexterity
    collective.dexteritytextindexer
    plone.app.contenttypes
    collective.googleanalytics
    z3c.jbot
    z3c.blobfile
    plone.reload
    apuntador.core
    cerclefolk.theme
    Solgema.fullcalendar
    plone.app.event [dexterity]
    plone.app.widgets
    eea.facetednavigation
    collective.geo.bundle [dexterity]
    plone.app.referenceablebehavior
    xlsxwriter
    plone.app.changeownership

zope-conf-additional = 
    <product-config beaker>
        session type     file 
        session.data_dir ${buildout:directory}/var/sessions/data
        session.lock_dir ${buildout:directory}/var/sessions/lock 
        session.key      beaker.session
        session.secret   this-is-my-secret-${buildout:directory}
    </product-config>


# Some pre-Plone 3.3 packages may need you to register the package name here in 
# order their configure.zcml to be run (http://plone.org/products/plone/roadmap/247)
# - this is never required for packages in the Products namespace (Products.*)
zcml =
    Solgema.fullcalendar
    plone.app.event
    plone.app.widgets
    apuntador.core
    cerclefolk.theme

# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build 
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on the format of
# this part
[sources]
Solgema.fullcalendar = git https://github.com/collective/Solgema.fullcalendar.git

# Version pindowns for new style products go here - this section extends one 
# provided in http://dist.plone.org/release/
[versions]
pytz = 2014.3
plone.app.jquery = 1.7.2
plone.app.querystring = 1.0.8
plone.app.portlets = 2.5
plone.app.contenttypes = 1.2a2
Pillow = 2.3.0
plone.app.event = 1.2.4
z3c.unconfigure = 1.0.1
plone.app.querystring = 1.1.0
plone.app.jquery = 1.8.3
plone.app.vocabularies = 2.1.12
plone.dexterity = 2.2.1
plone.app.widgets = 1.7.1

[backup] 
recipe = collective.recipe.backup 
keep = 7 
full = true 
gzip = true
